---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Width of the content area
$content-width:    1000px;

$on-palm:          600px;
$on-laptop:        1000px;



// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}

body, .mdl-layout-title, .mdl-button, h1, h2, h3, h4, h5, h6, input {
  font-family: "Raleway", sans-serif !important;
}

article p, p, li {
  font-size: 16px !important;
}

#main-footer {
  color: black;
  background-color: white;
  padding-top: 30px;
  text-align: center;
  justify-content: center;
}

.page-heading {
  font-size: 30px;
}

.post-link {
  display: block;
  font-size: 24px;
}

footer i {
  font-size: 30px;
}

.white {
  color: white;
  text-decoration: none;
}

.no-top-margin {
  margin-top: 0;
}

.image-overlay-text {
  text-align: center;
}

.overlay {
  background-color: rgba(0,0,0,.75);
}

.backdrop {
  position: absolute;
  z-index: -99;
  background-size: cover;
}

#main-header {
  background-color: #333333;
}

blockquote {
  font-size: rem-calc(23);
  font-style: italic;
}

video {
  height: 100%;
  width: 100%;
  object-fit: initial;
}

blockquote {
  border-left: 2px solid #DDDDDD;
  font-style: italic;
  margin-left: -50px;
  padding-left: 14px;
}

blockquote, blockquote p {
  color: #6f6f6f;
}

/* clear out mdl added quotes */
blockquote::before, blockquote::after {
  display: none;
}

.right blockquote {
  margin-left: inherit;
  margin-right: -50px;
  text-align: right;
}

.right {
  float: right;
}

@include media-query($on-laptop) {
  blockquote {
    margin-left: 0px;
  }
  .right blockquote {
    margin-left: inherit;
    margin-right: 0px;
    text-align: right;
  }
  .main-image {
    height: 600px;
  }
  .image-overlay-text {
    padding-top: 450px;
  }
}

@include media-query($on-palm) {
  .main-image {
    max-height: 400px;
  }
  .image-overlay-text {
    padding-top: 300px;
  }
}

.main-image {
  width: 100%;
  background-size: cover;
  max-height: 400px;
  overflow: hidden;
}

.main-image img {
  width: 100%;
}

.icon > svg {
  width: 16px;
  height: 16px;
}

img {
  width: 100%;
}


//
//
//
//// Our variables
//$base-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
//$base-font-size:   16px;
//$base-font-weight: 400;
//$small-font-size:  $base-font-size * 0.875;
//$base-line-height: 1.5;
//
//$spacing-unit:     30px;
//
//$text-color:       #111;
//$background-color: #fdfdfd;
//$brand-color:      #2a7ae2;
//
//$grey-color:       #828282;
//$grey-color-light: lighten($grey-color, 40%);
//$grey-color-dark:  darken($grey-color, 25%);
//
//
//
//// Import partials from `sass_dir` (defaults to `_sass`)
//@import
//        "base",
//        "layout",
//        "syntax-highlighting",
//        "rocketree"
//;
