<footer id="main-footer" class="mdl-mini-footer">
  <div class="mdl-mini-footer--left-section">
  <div>Sean and Christine. Rocketree Adventures. 2016.</div>
    <ul class="mdl-mini-footer--link-list">
      <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
      {% if site.github_username %}
        <li>
          {% include icon-github.html username=site.github_username %}
        </li>
      {% endif %}

      {% if site.twitter_username %}
        <li>
          {% include icon-twitter.html username=site.twitter_username %}
        </li>
      {% endif %}
      <li>
        <a href="{{ "/feed.xml" | prepend: site.baseurl }}">RSS</a>
      </li>
    </ul>
  </div>
</footer>
